.cardHeader {
    --background: linear-gradient(135deg, rgba(240, 174, 207, 0.8), rgba(180, 230, 243, 0.8));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* Reduce el padding del header */
}

ion-card-title p {
    color: rgba(16, 56, 235, 0.87);
    font-family: 'Georgia', cursive;
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-size: 16px;
    /* Reduce el tamaño del texto */
}

.ionItems {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.personImg {
    border-radius: 5%;
    display: block;
    margin: 10px auto 0;
    width: 50%; /* La imagen ocupará el 50% del ancho del contenedor */
    max-width: 150px; /* Asegura que la imagen no crezca más de 150px */
    height: auto; /* Mantiene la proporción de la imagen */
}


.ionItems2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7%
}

.input {
    border: solid 2px rgba(168, 168, 168, 0.9)
}

.cardContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

ion-card-content {
    align-items: center;
    display: block;
}

ion-card {
    border-radius: 3%;
}

ion-item {
    --border-color: transparent;
    /* Quita el color del borde */
    border: none;
    /* También asegúrate de que no haya borde */
}

ion-icon {
    font-size: 24px;
    /* Ajusta el tamaño del ícono */
}

.iconosInferior {
    font-size: 36px;
    /* Ajusta el tamaño del ícono */

}