/* Estilo para el mensaje cuando no hay tickets */
.no-tickets-message {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.7);  /* Sutil color para el texto */
}

/* Estilo para la lista de tickets */
.ticket-list {
    margin: 20px;
    padding-left: 0;
    background-color: transparent;  /* Fondo transparente */
}

/* Estilo para cada ítem de la lista (separación y transparencia) */
.ticket-card {
    /* Fondo transparente */
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombra sutil */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.1);  /* Borde sutil */
    background-color: rgb(207, 229, 248);
}

/* Efecto al pasar el mouse (o tap) sobre un ticket */
.ticket-card:hover,
.ticket-card:active {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);  /* Aumentar la sombra solo al hover */
}

/* Estilo para el título del ticket */
.ticket-title {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 5px;
    color: rgba(0, 0, 0, 0.8);  /* Color sutil para el texto */
}

/* Estilo para el tipo de problema */
.ticket-problem-type {
    font-size: 1rem;
    margin: 5px;
    color: rgba(0, 0, 0, 0.6);
}

/* Estilo para la descripción del ticket */
.ticket-description {
    font-size: 0.9rem;
    margin: 10px;
    color: rgba(0, 0, 0, 0.5);
}

/* Estilo para los badges de estado */
.ticket-status {
    display: flex;
    gap: 10px;
    color: rgba(0, 0, 0, 0.7);
}
