.container {
    padding: 16px;
    text-align: center;
  }
  
  ion-button {
    margin: 8px 0;
  }

  .ticket-info {
    margin: 20px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
  }
  
  .ticket-info p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .ticket-info ol {
    margin-top: 10px;
    padding-left: 20px;
  }
  
  .ticket-info strong {
    font-weight: bold;
  }
  