.selected {
    background-color: #d1e7ff;  /* Color de fondo cuando se selecciona */
    border-left: 5px solid #4caf50;  /* Borde para resaltar el ítem seleccionado */
    font-weight: bold;  /* Hacer el texto negrita */
    color: #4caf50;  /* Cambiar el color del texto a verde */
  }
  