<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="formularioRegistroAdmin($event)">
    <ion-list>
      <ion-item>
        <ion-label position="floating">RUT</ion-label>
        <ion-input [(ngModel)]="rut" name="rut" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="password" name="password" type="password" required>
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Repetir Contraseña</ion-label>
        <ion-input [(ngModel)]="repeatPassword" name="repeatPassword" type="password" required>
          <ion-input-password-toggle slot="end" style="--background: black"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Rol</ion-label>
        <ion-select [(ngModel)]="roleId" name="roleId" placeholder="Seleccione un rol">
          <ion-select-option value="1">Administrador</ion-select-option>
          <ion-select-option value="2">Usuario</ion-select-option>
          <ion-select-option value="3">Bombero</ion-select-option>
          <ion-select-option value="4">Policia</ion-select-option>
          <ion-select-option value="5">Ambulancia</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button expand="full" type="submit">Registrar</ion-button>
  </form>
</ion-content>