<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="formularioRegistroAdmin($event)">
    <ion-list lines="none">
      <ion-item>
        <ion-input [(ngModel)]="rut" name="rut" type="text" required class="swal2-input"
          placeholder="RUT: ej: 11111111-1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="password" name="password" type="password" required class="swal2-input"
          placeholder="Ingresa tu contraseña"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="repeatPassword" name="repeatPassword" type="password" required class="swal2-input"
          placeholder="Repite la contraseña"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="swal2-input">Rol</ion-label>
        <ion-select [(ngModel)]="roleId" name="roleId" placeholder="Seleccione un rol" class="swal2-input">
          <ion-select-option value="1">Administrador</ion-select-option>
          <ion-select-option value="2">Usuario</ion-select-option>
          <ion-select-option value="3">Bombero</ion-select-option>
          <ion-select-option value="4">Policia</ion-select-option>
          <ion-select-option value="5">Ambulancia</ion-select-option>
          <ion-select-option value="6">Staff</ion-select-option>

        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button expand="full" type="submit">Registrar</ion-button>
  </form>
</ion-content>