/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */


// ion-content {
//     --background: linear-gradient(#db89b6, #feb47b, #e7cfbc);
//     ;
//     /* Cambia a tu color deseado */
// }

:root {
    --ion-color-moss: #8A9A5B; /* Verde musgo */
  }

body {
    font-family: Arial, sans-serif;
}

ion-content {
    --background: linear-gradient(135deg, rgba(240, 174, 207, 0.8), rgba(180, 230, 243, 0.8));
    /* Cambia los colores y ángulo según tus preferencias */
}

ion-item {
    --padding-start: 0;
    /* Ajusta el espaciado si es necesario */
    --inner-padding-end: 0;
    --background: transparent;
    /* Ajusta el espaciado del lado del botón */
}

ion-buttons {
    margin-left: auto;
    /* Empuja el botón hacia el extremo derecho */
}

ion-toolbar {
    --background: linear-gradient(135deg, rgba(240, 174, 207, 0.8), rgba(180, 230, 243, 0.8));
    /* Cambia los colores y ángulo según tus preferencias */
}

ion-menu{
    background-color: transparent !important;
}

ion-list{
    background-color: transparent !important;
}

ion-card{
    background-color: transparent !important;
}

ion-input{
    text-align:start;
}

.blue-button {
    --background: #007bff;
    /* Color de fondo azul */
    --color: #fff;
    /* Color del texto blanco */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    /* Asegura que esté por encima de otros elementos */
}

