<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/admin"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Gestor Roles</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <ion-searchbar [(ngModel)]="filterRUT" (ionInput)="filtrarPorRUT()" placeholder="Buscar por RUT"></ion-searchbar>


  <ion-list>
    <ion-item *ngFor="let usuario of usuariosParaMostrar">
      <ion-label>
        <h4>{{ usuario.rut }}</h4>
        <p><strong>Nombre:</strong> {{ usuario.nombre }} {{ usuario.papellido }} {{ usuario.sapellido }}</p>
        <p><strong>Estado:</strong> {{ usuario.estado === 1 ? 'Activo' : 'Inactivo' }}</p>
        <p><strong>Rol:</strong> {{ usuario.rolNombre || 'Sin rol asignado' }}</p> <!-- Mostrar nombre del rol -->
      </ion-label>
      <ion-button (click)="modificarRol(usuario)" color="success">Modificar Rol</ion-button>
      <!-- Botón para modificar rol -->
    </ion-item>
  </ion-list>
</ion-content>