@import 'src/global';

:root {
  --ion-color-primary: #4CAF50;
  /* Verde vibrante */
  --ion-color-secondary: #FF5722;
  /* Naranja vibrante */
  --ion-color-warning: #FFC107;
  /* Amarillo para alertas */
  --ion-color-danger: #f44336;
  /* Rojo para botones de peligro */
  --ion-color-light: #f1f1f1;
  /* Fondo claro */
  --ion-color-dark: #212121;
  /* Texto oscuro */
}

ion-app {
  font-family: Arial, sans-serif;
}

ion-header {
  --background: var(--ion-color-secondary);
  /* Naranja vibrante para el header */
  color: white;
}

ion-toolbar {
  --background: var(--ion-color-secondary);
  /* Naranja vibrante */
  --color: white;
}

/* Estilo del título de perfil */
.perfil-titulo {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  color: var(--ion-color-dark);
  /* Texto oscuro */
}

/* Botones */
ion-button {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  --background: #4CAF50;
  font-size: 1rem;
  /* Tamaño de fuente más pequeño */
  padding: 8px 16px;
  /* Espaciado interno más reducido */
  height: auto;
  /* Ajustamos la altura */
  width: auto;
  /* El ancho se ajusta automáticamente */
  border-radius: 8px;
  font-weight: bold;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

ion-button:hover {
  transform: scale(1.05);
  /* Efecto hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  /* Sombra */
}

ion-button[color="danger"] {
  --background: var(--ion-color-danger);
  /* Botón rojo para eliminar */
}

/* Contenedor de los botones */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
  /* Espacio entre botones */
}

/* Estilo de las tarjetas */
ion-card {
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra suave */
  background-color: transparent;
  /* Fondo claro */
  padding: 15px;
  margin-bottom: 20px;
}

ion-item {
  --background: transparent;
  --padding-start: 0;
  margin-bottom: 10px;
}

/* Inputs y etiquetas */
ion-label {
  font-weight: bold;
  color: var(--ion-color-dark);
  /* Texto oscuro */
}

ion-input {
  background-color: transparent;
  border-radius: 8px;
  padding: 10px;
  font-size: 1rem;
}

/* Footer de los modales */
ion-footer ion-button {
  --background: var(--ion-color-primary);
  margin-top: 20px;
}

.cardContent {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

#editarContactoEmergencia:hover {
  transform: scale(1.05);
  /* Efecto hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  /* Sombra */
}

.mostrarContacto{
  width: 150px;
  height: 50px;
  align-self: center;
  font-size: 0.75rem;
}