@import 'src/global';

ion-row {
  border-bottom: 1px solid #ccc;
  /* Línea de separación */
  padding: 10px 0;
  /* Espaciado dentro de las filas */
}

.blue-button-gl {
  @extend .blue-button !optional;
  // Otros estilos específicos del componente
}

.button-container {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  flex-wrap: wrap;
  /* Permite que los botones se muevan a la siguiente fila si es necesario */
  gap: 10px;
  /* Espacio entre los botones */
  padding: 10px;
  /* Añade algo de espacio alrededor del contenedor */
}

.button-container ion-button {
  flex: 1 1 100px;
  /* Permite que los botones crezcan o se encojan, mínimo 100px */
  max-width: 300px;
  /* Ancho máximo del botón */
  width: 100%;
  /* Ocupa todo el ancho del contenedor disponible */
  box-sizing: border-box;
  /* Asegura que el padding se incluya en el ancho total */
}

.gridStyle {
  border: none;
  border-radius: 10px;
}

.perfil-titulo {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  /* Centra el texto */
}