<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-icon name="person" color="primary"></ion-icon>
      <ion-button href="login">Ingresar</ion-button>
    </ion-buttons>
    <ion-title class="custom-text">Emerplus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding centered-content">
  <div class="hero-text">
    <h1>EmerPlus</h1>
    <img src="/assets/imgs/911.png" alt="EmerPlus Logo" class="hero-image" style="border-radius: 5%;" />
    <p>Conectándote con la ayuda que necesitas, cuando la necesitas.</p>
    <!-- Botón para abrir el modal de Registro -->
    <div class="button-container">
      <ion-button (click)="mostrarFormularioRegistro()">Registrarse</ion-button>
    </div>
  </div>
</ion-content>
