<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-icon name="person" color="secondary"></ion-icon>
        <ion-button (click)="presentLoginModal()">Ingresar</ion-button>
      </ion-buttons>
      <ion-title class="custom-text">Emerplus</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding centered-content">
    <div class="hero-text">
      <h1>EmerPlus</h1>
      <img src="/assets/imgs/911.jpg" alt="EmerPlus Logo" class="hero-image" style="border-radius: 5%;" />
      <p>Conectándote con la ayuda que necesitas, cuando la necesitas.</p>
      <!-- Botón para abrir el modal de Registro -->
      <div class="button-container">
        <ion-button (click)="openRegistroModal()">Registrarse</ion-button>
      </div>
    </div>
    <footer class="footer">
      <p>&copy; 2024 Mi Empresa. Todos los derechos reservados.</p>
    </footer>
  </ion-content>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>