@import 'src/global';

.custom-text {
  font-family: 'Georgia', cursive;
  font-weight: bold;
  font-weight: 2.5rem;
  color: #db188d;

}

.blue-button-gl {
  @extend .blue-button !optional;
}
ion-content {
  --background: linear-gradient(135deg, #00bfff 0%, #d3d3d3 50%, #b0e0e6 100%); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}


.primary-button {
  --background: #3880ff;
  --color: #fff;
  --border-radius: 8px;
}

p {
  font-size: 16px;
  color: #333;
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 16px;
}

.hero-text h1 {
  font-size: 2.5rem; /* Tamaño del título */
  margin-bottom: 16px;
}

.hero-text p {
  font-size: 1.2rem; /* Tamaño del lema */
}

.hero-image {
  max-width: 80%; /* Ajusta el tamaño de la imagen según sea necesario */
  margin-bottom: 16px; /* Espacio entre la imagen y el texto */
}

.button-container {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
}






