<ion-header>
  <ion-toolbar>
    <ion-title>Panel de Administración</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-content">
  <h2 class="welcome-title">Bienvenido, {{ rolUsuarioActivo }}</h2>
  <p class="description">Selecciona una de las siguientes acciones:</p>

  <ion-list>
    <!-- Para Administrador -->
    <ion-item *ngIf="rolUsuarioActivo === 'Administrador'" button (click)="verSolicitudes()">
      <ion-icon name="list-outline" slot="start"></ion-icon>
      Ver todas las solicitudes de emergencia
    </ion-item>

    <ion-item *ngIf="rolUsuarioActivo === 'Administrador'" button (click)="agregarUsuario()">
      <ion-icon name="person-add-outline" slot="start"></ion-icon>
      Agregar usuario
    </ion-item>

    <ion-item *ngIf="rolUsuarioActivo === 'Administrador'" button (click)="verEstadisticas()">
      <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
      Ver estadísticas* (Próximamente)
    </ion-item>

    <ion-item *ngIf="rolUsuarioActivo === 'Administrador'" button (click)="gestionarRoles()">
      <ion-icon name="shield-checkmark-outline" slot="start"></ion-icon>
      Gestionar roles de usuario
    </ion-item>

    <ion-item *ngIf="rolUsuarioActivo === 'Staff Técnico'" button (click)="solicitudesTecnicas()">
      <ion-icon name="shield-checkmark-outline" slot="start"></ion-icon>
      Solicitudes de servicio 
    </ion-item>

    <!-- Para Bombero -->
    <ion-item *ngIf="rolUsuarioActivo === 'Bombero'" button (click)="verSolicitudes()">
      <ion-icon name="flame-outline" slot="start"></ion-icon>
      Ver solicitudes de emergencia para bomberos
    </ion-item>

    <!-- Para Policía -->
    <ion-item *ngIf="rolUsuarioActivo === 'Policía'" button (click)="verSolicitudes()">
      <ion-icon name="flash-outline" slot="start"></ion-icon>
      Ver solicitudes de emergencia para policía
    </ion-item>

    <!-- Para Ambulancia -->
    <ion-item *ngIf="rolUsuarioActivo === 'Ambulancia'" button (click)="verSolicitudes()">
      <ion-icon name="medkit-outline" slot="start"></ion-icon>
      Ver solicitudes de emergencia para ambulancia
    </ion-item>
  </ion-list>
</ion-content>
