<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form (submit)="formularioRegistro($event)">
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input [(ngModel)]="rut" name="rut" placeholder="Ingresa tu RUT"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password" placeholder="Ingresa tu contraseña">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input [(ngModel)]="repeatPassword" name="repeatPassword" type="password" placeholder="Repite la contraseña">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"></ion-label>
      <ion-input [(ngModel)]="correo" name="correo" placeholder="Ingresa tu correo"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Registrar</ion-button>
  </form>
  <div *ngIf="errorMessage" class="error-message" style="--background: transparent; color:red">
    {{ errorMessage }}
  </div>

</ion-content>