<ion-header>
  <ion-toolbar>
    <ion-title>
      <p class="custom-text">EmerPlus</p>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button expand="block" class="blue-button" id="open-modal">Ingresar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div class="image-wrapper">
    <p class="title">Servicios</p>
    <div class="image-container">
      <img src="assets/imgs/Ambulancia.png" alt="Descripción de la imagen">
      <img src="assets/imgs/Incendio.png" alt="Descripción de la imagen">
      <img src="assets/imgs/Policia.png" alt="Descripción de la imagen">
      <img src="assets/imgs/Location.png" alt="Descripción de la imagen">
    </div>
  </div>
</ion-content>

<footer class="footer">
  <p>&copy; 2024 Mi Empresa. Todos los derechos reservados.</p>
</footer>


<!-- Trigger del modal -->

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <!-- Contenido del modal -->
      <ion-header>
        <ion-toolbar class="new-background-color">
          <ion-title>Login</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cancel()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="modal-wrapper">
        <ion-list>
          <ion-item class="new-background-color">
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item class="new-background-color">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button expand="block" class="blue-button">Login</ion-button>
        <ion-button expand="block" class="blue-button" (click)="cancel()">Cancelar</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
