.modal-content {
  max-width: 600px;
  margin: auto;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  /* Asegura que el contenido no se salga del área */
}

/* Ajuste del modal completo */
.small-modal .modal-wrapper {
  max-width: 90vw;
  /* Usar un ancho relativo para evitar el corte */
  max-height: auto;
  /* Controla la altura para evitar que se corte */
  margin: auto;
  border-radius: 8px;
  overflow: auto;
  /* Permite el desplazamiento si el contenido es mayor */
  padding: 16px;
  /* Ajusta padding para una buena visualización */
  display: flex;
  flex-direction: column;
  justify-content: center;
}