/* Define la clase personalizada para el botón azul */
.blue-button {
  --background: linear-gradient(#1233eb, #3790e2, #1233eb);
  /* Cambia el color de fondo a azul */
  --background-activated: #a04c53;
  /* Color al hacer clic (opcional) */
  --background-hover: #e48890;
  /* Color al pasar el cursor (opcional) */
  color: #ffffff;
  /* Color del texto */
}

.custom-text {
  font-family: 'Georgia', cursive;
  font-weight:bold;
  font-weight: 2.5rem;
  color: #db188d;

}

.new-background-color{
  --background: linear-gradient(45deg, #ccbfc7, #eeacca);
}