// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

// src/theme/variables.scss

:root {
    --ion-color-primary: #d32f2f;   /* Rojo oscuro, asociado a emergencias */
    --ion-color-primary-rgb: 211, 47, 47;
    --ion-color-primary-contrast: #ffffff; /* Contraste en blanco para buena legibilidad */
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #c62828;   /* Sombra para dar profundidad al color principal */
    --ion-color-primary-tint: #e57373;    /* Tono más claro para variantes de elementos */
  
    --ion-color-secondary: #ffa726;  /* Naranja para dar energía y resaltar */
    --ion-color-secondary-rgb: 255, 167, 38;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #fb8c00;
    --ion-color-secondary-tint: #ffb74d;
  
    --ion-color-tertiary: #ffffff; /* Blanco para dar claridad y espacios limpios */
    --ion-color-tertiary-rgb: 255, 255, 255;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #f2f2f2;
    --ion-color-tertiary-tint: #ffffff;
  
    /* Puedes personalizar más colores aquí */
  }
  