<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="6" class="ion-text-start">
          <ion-button color="primary">Home</ion-button>
        </ion-col>
        <ion-col size="6" class="ion-text-end">
          <ion-button color="primary" id="agregarContactoEmergencia">Editar </ion-button>
          <ion-button color="primary" id="agregarUser">Agregar Usuario</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenido de la tabla con la información del usuario -->
  <ion-grid>
    <ion-row>
      <ion-col><strong>RUT</strong></ion-col>
      <ion-col>12345678-9</ion-col>
    </ion-row>
    <!-- Otros datos del usuario -->
  </ion-grid>

  <!-- Modal para agregar contacto de emergencia -->
  <ion-modal #modalContacto trigger="agregarContactoEmergencia" (willDismiss)="onWillDismiss($event)" id="modalContacto">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Editar Perfil</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal(modalContacto)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input placeholder="Nombre del contacto"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input placeholder="Teléfono del contacto"></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Modal para agregar usuario -->
  <ion-modal #modalUser trigger="agregarUser" (willDismiss)="onWillDismiss($event)" id="modalUser">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Agregar Usuario</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal(modalUser)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          <ion-label position="floating">RUT</ion-label>
          <ion-input placeholder="RUT del usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input placeholder="Nombre del usuario"></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>