<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu de Inicio</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list style="background: transparent;">
          <!-- Menu de Usuario -->
          <ion-item (click)="navigateAndCloseMenu('/dashboard')" *ngIf="isUser">
            <ion-icon slot="start" name="home" color="secondary"></ion-icon>
            <ion-icon slot="end" name="chevron-forward" color="secondary"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-item>

          <ion-item (click)="navigateAndCloseMenu('/user-info')" *ngIf="isUser">
            <ion-icon slot="start" name="person" color="secondary"></ion-icon>
            <ion-icon slot="end" name="chevron-forward" color="secondary"></ion-icon>
            <ion-label>Perfil</ion-label>
          </ion-item>

          <ion-item (click)="navigateAndCloseMenu('/ubicacion')" *ngIf="isUser">
            <ion-icon slot="start" name="location" color="secondary"></ion-icon>
            <ion-icon slot="end" name="chevron-forward" color="secondary"></ion-icon>
            <ion-label>Ubicación</ion-label>
          </ion-item>

          <ion-item (click)="navigateAndCloseMenu('/soporte')" *ngIf="isUser">
            <ion-icon slot="start" name="chatbubbles" color="secondary"></ion-icon>
            <ion-icon slot="end" name="chevron-forward" color="secondary"></ion-icon>
            <ion-label>Soporte Técnico</ion-label>
          </ion-item>

          <ion-item (click)="navigateAndCloseMenu('/solicitudes')" *ngIf="isUser">
            <ion-icon slot="start" name="list-circle" color="secondary"></ion-icon>
            <ion-icon slot="end" name="chevron-forward" color="secondary"></ion-icon>
            <ion-label>Ver Solicitudes</ion-label>
          </ion-item>

          <!-- Menu de Admin -->
          <ion-item (click)="navigateAndCloseMenu('/admin')" *ngIf="isAdmin">
            <ion-icon slot="start" name="shield-checkmark" color="danger"></ion-icon>
            <ion-icon slot="end" name="chevron-forward" color="secondary"></ion-icon>
            <ion-label>Panel Admin</ion-label>
          </ion-item>

          <ion-item (click)="navigateAndCloseMenu('/agregar-usuario-admin')" *ngIf="isAdmin">
            <ion-icon slot="start" name="person-add-outline" color="danger"></ion-icon>
            <ion-icon slot="end" name="chevron-forward" color="secondary"></ion-icon>
            <ion-label>Agregar Usuarios</ion-label>
          </ion-item>

          <ion-item (click)="navigateAndCloseMenu('/gestor-roles')" *ngIf="isAdmin">
            <ion-icon slot="start" name="document-text" color="danger"></ion-icon>
            <ion-icon slot="end" name="chevron-forward" color="secondary"></ion-icon>
            <ion-label>Gestionar Roles de Usuarios</ion-label>
          </ion-item>

          <ion-item (click)="navigateAndCloseMenu('/solicitudes')" *ngIf="isAdmin">
            <ion-icon slot="start" name="list-circle" color="danger"></ion-icon>
            <ion-icon slot="end" name="chevron-forward" color="secondary"></ion-icon>
            <ion-label>Ver Solicitudes</ion-label>
          </ion-item>
          <!-- Cierre sesión general -->
          <ion-item (click)="cerrarSesion()">
            <ion-icon slot="start" name="log-out" color="danger"></ion-icon>
            <ion-icon slot="end" name="chevron-forward" color="secondary"></ion-icon>
            <ion-label>Cerrar Sesión</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
      <div class="footer">
        <em style="font-size: 0.75rem;">Powered by Ionic - Version 0.0.1 - 2024</em>
      </div>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>