@import 'src/global';

:root {
  --ion-color-primary: #4CAF50;
  /* Verde vibrante */
  --ion-color-secondary: #FF5722;
  /* Naranja vibrante */
  --ion-color-warning: #FFC107;
  /* Amarillo para alertas */
  --ion-color-danger: #f44336;
  /* Rojo para botones de peligro */
  --ion-color-light: #f1f1f1;
  /* Fondo claro */
  --ion-color-dark: #212121;
  /* Texto oscuro */
}

ion-content {
  --overflow: auto;
  /* Asegúrate de que el contenido se desplace */
  height: auto;
  /* Permite que el contenido se ajuste automáticamente */
}

ion-app {
  font-family: Arial, sans-serif;
}

ion-header {
  --background: var(--ion-color-secondary);
  /* Naranja vibrante para el header */
  color: white;
  border-radius: 8px !important;
  
}

ion-toolbar {
  /* Naranja vibrante */
  --color: rgb(37, 36, 36);
  border-radius: 8px !important;
}

/* Botones */
ion-button {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  font-size: 1rem;
  /* Tamaño de fuente más pequeño */
  padding: 8px 16px;
  /* Espaciado interno más reducido */
  height: auto;
  /* Ajustamos la altura */
  width: auto;
  /* El ancho se ajusta automáticamente */
  border-radius: 8px;
  font-weight: bold;
}

ion-button:hover {
  transform: scale(1.05);
  /* Efecto hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  /* Sombra */
}

ion-button[color="danger"] {
  --background: var(--ion-color-danger);
  /* Botón rojo para eliminar */
}

/* Estilo de las tarjetas */
ion-card {
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra suave */
  background-color: transparent;
  /* Fondo claro */
  padding: 15px;
  margin-bottom: 20px;
}

ion-item {
  --background: transparent;
  --padding-start: 0;
  margin-bottom: 10px;
}

/* Inputs y etiquetas */
ion-label {
  font-weight: bold;
  color: var(--ion-color-dark);
  /* Texto oscuro */
}

ion-input {
  background-color: transparent;
  border-radius: 8px;
  padding: 10px;
  font-size: 1rem;
}

/* Footer de los modales */
ion-footer ion-button {
  --background: var(--ion-color-primary);
  margin-top: 20px;
}

/* Estilo del título de perfil */
.perfil-titulo {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  color: var(--ion-color-dark);
  /* Texto oscuro */
}

/* Contenedor de los botones */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
  /* Espacio entre botones */
}

.cardContent {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.swal-input {
  background: linear-gradient(135deg, #ffffff, #e0e0e0) !important;
  /* Color de fondo */
  border: 1px solid #ccc;
  /* Borde */
  border-radius: 8px;
  /* Bordes redondeados */
  padding: 16px;
  /* Espaciado interno */
  margin-bottom: 12px;
  /* Espaciado inferior */
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.swal-input ion-label {
  color: #333;
  /* Color de la etiqueta */
}

.swal-input ion-note {
  font-size: 12px;
  /* Tamaño de fuente del mensaje de error */
}

.metallic-background {
  background: linear-gradient(135deg, #00bfff 0%, #d3d3d3 50%, #b0e0e6 100%);
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 16px;
  height: 100vh; // Ocupa toda la altura de la pantalla
  display: flex; // Para permitir que el contenido interno use flexbox
  flex-direction: column; // Organiza los hijos en columna

  // Añade las siguientes propiedades para permitir el scroll
  overflow-y: auto; // Permite el desplazamiento vertical
  overflow-x: hidden; // Oculta el desplazamiento horizontal si no es necesario
  margin-bottom: auto;
}


.rounded-button {
  border-radius: 8px !important;
  margin: 10px; /* Ajusta el valor según lo necesites */
}