<mat-card class="metallic-background">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="/dashboard"></ion-back-button>
      </ion-buttons>

      <div style="flex: 1; display: flex; align-items: center; justify-content: center;">
        <mat-card-title style="margin: 0;">PERFIL DEL USUARIO</mat-card-title>
      </div>

      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-card-content>
    <ion-list style="background-color:transparent;">
      <ion-item>
        <ion-label><strong>Nombre:</strong></ion-label>
        <ion-text *ngIf="usuario">{{ usuario.nombre || 'Sin información...' }}</ion-text>
        <ion-text *ngIf="!usuario">No hay información disponible</ion-text>
      </ion-item>

      <ion-item>
        <ion-label><strong>Apellidos:</strong></ion-label>
        <ion-text *ngIf="usuario">{{ usuario.papellido || 'Sin información...' }} {{ usuario.sapellido }}</ion-text>
        <ion-text *ngIf="!usuario">No hay información disponible</ion-text>
      </ion-item>

      <ion-item>
        <ion-label><strong>Teléfono:</strong></ion-label>
        <ion-text *ngIf="usuario">{{ usuario.telefono || 'Sin información...' }}</ion-text>
        <ion-text *ngIf="!usuario">0</ion-text>
      </ion-item>

      <ion-item>
        <ion-label><strong>Correo:</strong></ion-label>
        <ion-text *ngIf="usuario">{{ usuario.correo || 'Sin información...' }}</ion-text>
        <ion-text *ngIf="!usuario">0</ion-text>
      </ion-item>

      <ion-item>
        <ion-label><strong>Comuna:</strong></ion-label>
        <ion-text>{{ comunaUsuario ? comunaUsuario.nombre : 'Sin información...' }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label><strong>Región:</strong></ion-label>
        <ion-text>{{ regionUsuario ? regionUsuario.nombre : 'Sin información...' }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label><strong>Contacto Emergencia:</strong></ion-label>
        <ng-container *ngIf="usuario?.contactoEmergencia; else agregarContacto">
          <ion-button (click)="mostrarContacto()" class="rounded-button mostrarContacto">
            <p style="margin: auto; font-weight: bold;">Ver Contacto</p>
          </ion-button>
        </ng-container>
        <ng-template #agregarContacto>
          <ion-button (click)="openEditContactModal()" class="rounded-button">
            <p>Agregar Contacto Emergencia</p>
          </ion-button>
        </ng-template>
      </ion-item>
    </ion-list>

    <div class="button-container">
      <ion-button color="primary" (click)="openEditUserModal()" class="rounded-button">Editar Usuario</ion-button>
      <ion-button *ngIf="usuario?.contactoEmergencia" (click)="openEditContactModal()" class="rounded-button">Editar
        Contacto</ion-button>
      <ion-button color="secondary" (click)="openChangePasswordModal()" class="rounded-button">Cambiar
        Contraseña</ion-button>
    </div>
  </ion-card-content>

  <ion-button *ngIf="roleId === 2" color="danger" (click)="eliminarCuenta()" class="rounded-button">
    Eliminar Cuenta
  </ion-button>


  <ion-modal #modalContacto class="custom-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Contacto de Emergencia</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModalContacto()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-card-content class="metallic-background">
        <ion-list *ngIf="contacto" lines="none" style="background: transparent;">
          <ion-item class="swal-input">
            <ion-label>
              <strong>Nombre:</strong>
              <ng-container>{{ usuario?.contactoEmergencia?.nombre }}</ng-container>
              <ng-container> {{ usuario?.contactoEmergencia?.apaterno }}</ng-container>
              <ng-container> {{ usuario?.contactoEmergencia?.amaterno }}</ng-container>
            </ion-label>
          </ion-item>
          <ion-item class="swal-input">
            <ion-label><strong>Teléfono:</strong> {{ usuario?.contactoEmergencia?.telefono }}</ion-label>
          </ion-item>
          <ion-item class="swal-input">
            <ion-label><strong>Correo:</strong> {{ usuario?.contactoEmergencia?.correo }}</ion-label>
          </ion-item>
          <ion-item class="swal-input">
            <ion-label><strong>Relación:</strong> {{ usuario?.contactoEmergencia?.relacion }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ng-template>
  </ion-modal>


  <!-- Modal para editar usuario -->
  <ion-modal #modalEditUser>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Editar Usuario</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeEditUserModal()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <form #editUserForm="ngForm" (ngSubmit)="formularioEditUsuario($event)" novalidate>
          <ion-list lines="none" class="metallic-background">
            <ion-item class="swal-input">
              <ion-label position="floating">Nombre</ion-label>
              <ion-input name="nombre" type="text" [(ngModel)]="usuarioNombre" required minlength="2" no-lines>
              </ion-input>
              <ion-note *ngIf="editUserForm.submitted && !editUserForm.controls['nombre']?.valid" color="danger">
                El nombre es requerido y debe tener al menos 2 caracteres.
              </ion-note>
            </ion-item>
            <ion-item class="swal-input">
              <ion-label position="floating">Primer Apellido</ion-label>
              <ion-input name="pApellido" type="text" [(ngModel)]="usuario1erApellido" required>
              </ion-input>
              <ion-note *ngIf="editUserForm.submitted && !editUserForm.controls['pApellido']?.valid" color="danger">
                El primer apellido es requerido.
              </ion-note>
            </ion-item>
            <ion-item class="swal-input">
              <ion-label position="floating">Segundo Apellido</ion-label>
              <ion-input name="sApellido" type="text" [(ngModel)]="usuario2doApellido" required>
              </ion-input>
              <ion-note *ngIf="editUserForm.submitted && !editUserForm.controls['sApellido']?.valid" color="danger">
                El segundo apellido es requerido.
              </ion-note>
            </ion-item>
            <ion-item class="swal-input">
              <ion-label position="floating">Teléfono</ion-label>
              <ion-input name="telefono" type="text" [(ngModel)]="usuarioTelefono" required pattern="^[0-9]+$">
              </ion-input>
              <ion-note *ngIf="editUserForm.submitted && !editUserForm.controls['telefono']?.valid" color="danger">
                El teléfono es requerido y debe ser numérico.
              </ion-note>
            </ion-item>
            <ion-item class="swal-input">
              <ion-label position="floating">Correo</ion-label>
              <ion-input name="correo" type="email" [(ngModel)]="correoUsuario" required>
              </ion-input>
              <ion-note *ngIf="editUserForm.submitted && !editUserForm.controls['correo']?.valid" color="danger">
                Un correo válido es requerido.
              </ion-note>
            </ion-item>
            <ion-item class="swal-input">
              <ion-label>Región</ion-label>
              <ion-select name="region" [(ngModel)]="selectedRegion" required (ionChange)="onRegionChange()">
                <ion-select-option *ngFor="let region of regiones" [value]="region">
                  {{ region.nombre }}
                </ion-select-option>
              </ion-select>
              <ion-note *ngIf="editUserForm.submitted && !editUserForm.controls['region']?.valid" color="danger">
                Selecciona una región.
              </ion-note>
            </ion-item>
            <ion-item class="swal-input">
              <ion-label>Selecciona una Comuna</ion-label>
              <ion-select name="comuna" [(ngModel)]="selectedComuna" required>
                <ion-select-option *ngFor="let comuna of comunas" [value]="comuna">
                  {{ comuna.nombre }}
                </ion-select-option>
              </ion-select>
              <ion-note *ngIf="editUserForm.submitted && !editUserForm.controls['comuna']?.valid" color="danger">
                Selecciona una comuna.
              </ion-note>
            </ion-item>
          </ion-list>

          <ion-button expand="full" type="submit" [disabled]="!editUserForm.form.valid">Guardar Cambios</ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #modalEditContact>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Editar Contacto de Emergencia</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeEditContactModal()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <mat-card-content class="metallic-background" *ngIf="contacto">
        <form (ngSubmit)="handleEditContactSubmit($event)">
          <ion-item class="swal-input" lines="none">
            <ion-label position="floating"></ion-label>
            <ion-input [(ngModel)]="contacto.nombre" name="nombre" required placeholder="Nombre"></ion-input>
          </ion-item>
          <ion-item class="swal-input" lines="none">
            <ion-label position="floating"></ion-label>
            <ion-input [(ngModel)]="contacto.apaterno" name="apaterno" required
              placeholder="Apellido Paterno"></ion-input>
          </ion-item>
          <ion-item class="swal-input" lines="none">
            <ion-label position="floating"></ion-label>
            <ion-input [(ngModel)]="contacto.amaterno" name="amaterno"
              placeholder="Apellido Materno (Opcional)"></ion-input>
          </ion-item>
          <ion-item class="swal-input" lines="none">
            <ion-label position="floating">Teléfono</ion-label>
            <ion-input [(ngModel)]="contacto.telefono" name="telefono" type="text" required
              placeholder="Teléfono"></ion-input>
          </ion-item>
          <ion-item class="swal-input" lines="none">
            <ion-label position="floating"></ion-label>
            <ion-input [(ngModel)]="contacto.correo" name="correo" type="email" required
              placeholder="Correo Electrónico"></ion-input>
          </ion-item>
          <ion-item class="swal-input" lines="none">
            <ion-label position="floating"></ion-label>
            <ion-input [(ngModel)]="contacto.relacion" name="relacion" required
              placeholder="Relación con el contacto ('Padre', 'Amigo', etc...)"></ion-input>
          </ion-item>
          <ion-footer style="box-shadow: none;">
            <ion-button expand="full" type="submit">Guardar</ion-button>
          </ion-footer>
        </form>
      </mat-card-content>
    </ng-template>
  </ion-modal>