<mat-card class="metallic-background">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="/dashboard"></ion-back-button>
      </ion-buttons>

      <div style="flex: 1; display: flex; align-items: center; justify-content: center;">
        <mat-card-title style="margin: 0;">PERFIL DEL USUARIO</mat-card-title>
      </div>

      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <span><strong>Nombre:</strong></span>
        <span *ngIf="usuario">{{ usuario.nombre || 'Sin información...' }}</span>
        <span *ngIf="!usuario">No hay información disponible</span>
      </mat-list-item>
      <mat-list-item>
        <span><strong>Apellidos:</strong></span>
        <span *ngIf="usuario">{{ usuario.papellido || 'Sin información...' }} {{ usuario.sapellido }}</span>
        <span *ngIf="!usuario">No hay información disponible</span>
      </mat-list-item>
      <mat-list-item>
        <span><strong>Teléfono:</strong></span>
        <span *ngIf="usuario">{{ usuario.telefono || 'Sin información...' }}</span>
        <span *ngIf="!usuario">0</span>
      </mat-list-item>
      <mat-list-item>
        <span><strong>Correo:</strong></span>
        <span *ngIf="usuario">{{ usuario.correo || 'Sin información...' }}</span>
        <span *ngIf="!usuario">0</span>
      </mat-list-item>
      <mat-list-item>
        <span><strong>Comuna:</strong></span>
        <span>{{ comunaUsuario ? comunaUsuario.nombre : 'Sin información...' }}</span>
      </mat-list-item>
      <mat-list-item>
        <span><strong>Región:</strong></span>
        <span>{{ regionUsuario ? regionUsuario.nombre : 'Sin información...' }}</span>
      </mat-list-item>
      <mat-list-item>
        <span><strong>Contacto Emergencia:</strong></span>
        <ng-container *ngIf="usuario?.contactoEmergencia; else agregarContacto">
          <button mat-raised-button (click)="mostrarContacto()" class="rounded-button mostrarContacto">Mostrar
            Contacto</button>
        </ng-container>
        <ng-template #agregarContacto>
          <button mat-raised-button (click)="openEditContactModal()" class="rounded-button">Agregar Contacto
            Emergencia</button>
        </ng-template>
      </mat-list-item>
    </mat-list>

    <div class="button-container">
      <button mat-raised-button color="primary" (click)="openEditUserModal()" class="rounded-button">Editar
        Usuario</button>
      <button mat-raised-button *ngIf="usuario?.contactoEmergencia" (click)="openEditContactModal()"
        class="rounded-button">Editar
        Contacto</button>
      <button mat-raised-button color="accent" (click)="openChangePasswordModal()" class="rounded-button">Cambiar
        Contraseña</button>
    </div>
  </mat-card-content>
  <ion-button *ngIf="roleId === 2" color="danger" (click)="eliminarCuenta()" class="rounded-button">
    Eliminar Cuenta
  </ion-button>
</mat-card>

<ion-modal #modalContacto class="custom-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Contacto de Emergencia</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeModalContacto()">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <mat-card-content class="metallic-background">
      <ion-list *ngIf="contacto" lines="none" style="background: transparent;">
        <ion-item class="swal-input">
          <ion-label>
            <strong>Nombre:</strong>
            <ng-container *ngIf="contacto.nombre">{{ contacto.nombre }}</ng-container>
            <ng-container *ngIf="contacto.apaterno"> {{ contacto.apaterno }}</ng-container>
            <ng-container *ngIf="contacto.amaterno"> {{ contacto.amaterno }}</ng-container>
          </ion-label>
        </ion-item>
        <ion-item class="swal-input">
          <ion-label><strong>Teléfono:</strong> {{ contacto.telefono }}</ion-label>
        </ion-item>
        <ion-item class="swal-input">
          <ion-label><strong>Correo:</strong> {{ contacto.correo }}</ion-label>
        </ion-item>
        <ion-item class="swal-input">
          <ion-label><strong>Relación:</strong> {{ contacto.relacion }}</ion-label>
        </ion-item>
      </ion-list>
    </mat-card-content>
  </ng-template>
</ion-modal>


<!-- Modal para editar usuario -->
<ion-modal #modalEditUser>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Editar Usuario</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeEditUserModal()">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form #editUserForm="ngForm" (ngSubmit)="formularioEditUsuario($event)" novalidate>
        <ion-list lines="none" class="metallic-background">
          <ion-item class="swal-input">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input name="nombre" type="text" [(ngModel)]="usuarioNombre" required minlength="2" no-lines>
            </ion-input>
            <ion-note *ngIf="editUserForm.submitted && !editUserForm.controls['nombre']?.valid" color="danger">
              El nombre es requerido y debe tener al menos 2 caracteres.
            </ion-note>
          </ion-item>
          <ion-item class="swal-input">
            <ion-label position="floating">Primer Apellido</ion-label>
            <ion-input name="pApellido" type="text" [(ngModel)]="usuario1erApellido" required>
            </ion-input>
            <ion-note *ngIf="editUserForm.submitted && !editUserForm.controls['pApellido']?.valid" color="danger">
              El primer apellido es requerido.
            </ion-note>
          </ion-item>
          <ion-item class="swal-input">
            <ion-label position="floating">Segundo Apellido</ion-label>
            <ion-input name="sApellido" type="text" [(ngModel)]="usuario2doApellido" required>
            </ion-input>
            <ion-note *ngIf="editUserForm.submitted && !editUserForm.controls['sApellido']?.valid" color="danger">
              El segundo apellido es requerido.
            </ion-note>
          </ion-item>
          <ion-item class="swal-input">
            <ion-label position="floating">Teléfono</ion-label>
            <ion-input name="telefono" type="text" [(ngModel)]="usuarioTelefono" required pattern="^[0-9]+$">
            </ion-input>
            <ion-note *ngIf="editUserForm.submitted && !editUserForm.controls['telefono']?.valid" color="danger">
              El teléfono es requerido y debe ser numérico.
            </ion-note>
          </ion-item>
          <ion-item class="swal-input">
            <ion-label position="floating">Correo</ion-label>
            <ion-input name="correo" type="email" [(ngModel)]="correoUsuario" required>
            </ion-input>
            <ion-note *ngIf="editUserForm.submitted && !editUserForm.controls['correo']?.valid" color="danger">
              Un correo válido es requerido.
            </ion-note>
          </ion-item>
          <ion-item class="swal-input">
            <ion-label>Región</ion-label>
            <ion-select name="region" [(ngModel)]="selectedRegion" required (ionChange)="onRegionChange()">
              <ion-select-option *ngFor="let region of regiones" [value]="region">
                {{ region.nombre }}
              </ion-select-option>
            </ion-select>
            <ion-note *ngIf="editUserForm.submitted && !editUserForm.controls['region']?.valid" color="danger">
              Selecciona una región.
            </ion-note>
          </ion-item>
          <ion-item class="swal-input">
            <ion-label>Selecciona una Comuna</ion-label>
            <ion-select name="comuna" [(ngModel)]="selectedComuna" required>
              <ion-select-option *ngFor="let comuna of comunas" [value]="comuna">
                {{ comuna.nombre }}
              </ion-select-option>
            </ion-select>
            <ion-note *ngIf="editUserForm.submitted && !editUserForm.controls['comuna']?.valid" color="danger">
              Selecciona una comuna.
            </ion-note>
          </ion-item>
        </ion-list>

        <ion-button expand="full" type="submit" [disabled]="!editUserForm.form.valid">Guardar Cambios</ion-button>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal #modalEditContact>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Editar Contacto de Emergencia</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeEditContactModal()">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <mat-card-content class="metallic-background">
      <form (ngSubmit)="handleEditContactSubmit($event)">
        <ion-item class="swal-input" lines="none">
          <ion-label position="floating"></ion-label>
          <ion-input [(ngModel)]="contacto.nombre" name="nombre" required placeholder="Nombre"></ion-input>
        </ion-item>
        <ion-item class="swal-input" lines="none">
          <ion-label position="floating"></ion-label>
          <ion-input [(ngModel)]="contacto.apaterno" name="apaterno" required
            placeholder="Apellido Paterno"></ion-input>
        </ion-item>
        <ion-item class="swal-input" lines="none">
          <ion-label position="floating"></ion-label>
          <ion-input [(ngModel)]="contacto.amaterno" name="amaterno"
            placeholder="Apellido Materno (Opcional)"></ion-input>
        </ion-item>
        <ion-item class="swal-input" lines="none">
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input [(ngModel)]="contacto.telefono" name="telefono" type="text" required
            placeholder="Teléfono"></ion-input>
        </ion-item>
        <ion-item class="swal-input" lines="none">
          <ion-label position="floating"></ion-label>
          <ion-input [(ngModel)]="contacto.correo" name="correo" type="email" required
            placeholder="Correo Electrónico"></ion-input>
        </ion-item>
        <ion-item class="swal-input" lines="none">
          <ion-label position="floating"></ion-label>
          <ion-input [(ngModel)]="contacto.relacion" name="relacion" required
            placeholder="Relación con el contacto ('Padre', 'Amigo', etc...)"></ion-input>
        </ion-item>
        <ion-footer style="box-shadow: none;">
          <ion-button expand="full" type="submit">Guardar</ion-button>
        </ion-footer>
      </form>
    </mat-card-content>
  </ng-template>
</ion-modal>