.colorVerdeMusgo {
    --background: #8A9A5B;
    /* Verde musgo */
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.logo {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Dos columnas */
    gap: 20px;
    /* Espacio entre botones */
    margin-top: 20px;
    margin: auto;
}

ion-card {
    margin-top: 20px;
}

.button-square {
    width: 100%;
    /* Asegura que los contenedores ocupen el ancho completo */
    aspect-ratio: 1;

    max-width: 350px;
    max-height: 350px;
    margin: auto;

    /* Mantiene la forma cuadrada */
}

ion-button {
    height: 100%;
    border-radius: 5%;
    /* Hace que el botón ocupe todo el espacio del contenedor */
}

.notification-icon {
    position: relative;
    display: inline-block;
    margin-right: 16px;
    font-size: 25px;
    /* Ajusta el valor según sea necesario */
}

.notification-badge {
    position: absolute;
    top: -4px;
    right: -10px;
    background-color: rgb(238, 48, 48);
    /* Cambia el color según sea necesario */
    color: white;
    border-radius: 50%;
    width: 20px;
    /* Ajusta el tamaño según sea necesario */
    height: 20px;
    /* Ajusta el tamaño según sea necesario */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    /* Ajusta el tamaño de la fuente según sea necesario */
}