<ion-app>
  <app-menu></app-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
  <ion-header>
    <ion-toolbar>
      <ion-title>Emerplus</ion-title>
      <ion-buttons slot="end">
        <div class="notification-icon">
          <ion-button (click)="limpiarNotificaciones()">
            <ion-icon name="notifications" style="color: blue;"></ion-icon>
            <ion-badge class="notification-badge" *ngIf="notificacion >0">{{ notificacion }}</ion-badge>
          </ion-button>
        </div>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- Main Content -->
  <ion-content class="ion-padding" fullscreen>

    <!-- Botones de acción rápida -->
    <div class="button-container">
      <div class="button-square">
        <ion-button class="colorVerdeMusgo" expand="full" (click)="carabineros('Carabineros')">
          <ion-icon name="call" slot="start"></ion-icon>
          Carabineros
        </ion-button>
      </div>

      <div class="button-square">
        <ion-button color="danger" expand="full" (click)="bomberos('Bomberos')">
          <ion-icon name="call" slot="start"></ion-icon>
          Bomberos
        </ion-button>
      </div>

      <div class="button-square">
        <ion-button color="primary" expand="full" (click)="ambulancia('Ambulancia')">
          <ion-icon name="call" slot="start"></ion-icon>
          Ambulancia
        </ion-button>
      </div>

      <div class="button-square">
        <ion-button color="warning" expand="full" (click)="contactoEmergencia('Contacto Emergencia')">
          <ion-icon name="alert" slot="start"></ion-icon>
          Contacto Emergencia
        </ion-button>
      </div>
    </div>

  </ion-content>
</ion-app>