<ion-app>
  <ion-header>
    <ion-toolbar class="header">
      <ion-title>Emerplus</ion-title>
      <ion-buttons slot="end">
        <div class="notification-icon notificacion">
          <ion-button (click)="limpiarNotificaciones($event)" >
            <ion-icon name="notifications" style="color: blue;"></ion-icon>
            <ion-badge class="notification-badge" *ngIf="notificacion >0">{{ notificacion }}</ion-badge>
          </ion-button>
        </div>  
        <ion-menu-button></ion-menu-button>
        <ion-button><input type="file" (change)="onFileSelected($event)"/></ion-button>
        
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- Main Content -->
  <ion-content class="ion-padding" fullscreen>
    
    <!-- Contenedor del logo -->
    <div class="logo-container">
      <img src="/assets/imgs/logo.png" alt="EmerPlus Logo" class="logo">
    </div>

    <!-- Botones de acción rápida -->
    <div class="button-container">
      <div class="button-square colorVerdeMusgo">
        <ion-button expand="full" (click)="carabineros('Carabineros')">
          <ion-icon name="call" slot="start"></ion-icon>
          Carabineros
        </ion-button>
      </div>

      <div class="button-square colorDanger">
        <ion-button expand="full" (click)="bomberos('Bomberos')">
          <ion-icon name="call" slot="start"></ion-icon>
          Bomberos
        </ion-button>
      </div>

      <div class="button-square colorPrimary">
        <ion-button expand="full" (click)="ambulancia('Ambulancia')">
          <ion-icon name="call" slot="start"></ion-icon>
          Ambulancia
        </ion-button>
      </div>

      <div class="button-square colorWarning">
        <ion-button expand="full" (click)="contactoEmergencia('Contacto Emergencia')">
          <ion-icon name="alert" slot="start"></ion-icon>
          Contacto Emergencia
        </ion-button>
      </div>
    </div>
  </ion-content>
</ion-app>
