<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Bases de Conocimiento</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bases de Conocimiento</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae hic, debitis quaerat perferendis, fugiat
    expedita quas sint ullam quos mollitia dolorum facere quia numquam similique consectetur nulla placeat harum rem.
  </p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste sed laborum architecto voluptate dolorum unde enim
    beatae, provident officia dignissimos maiores rerum nostrum eveniet exercitationem eius placeat alias minus
    sapiente?</p>
</ion-content>