ion-content {
    padding: 16px;

    h2 {
      text-align: center;
      margin-bottom: 1rem; // Espacio inferior del título
    }
  
    ion-item {
      --border-color: var(--ion-color-primary);
    }
  
    ion-label {
      h3 {
        font-weight: bold;
        color: var(--ion-color-primary);
      }
  
      p {
        color: var(--ion-color-medium);
      }
    }
  }
  
  .text-center {
    text-align: center;
  }
  
  ion-button {
    margin-top: 20px; // Ajusta el margen superior según sea necesario
  }
  
  // Ajustes para el contenedor de filtros
  .filters-container {
    display: flex;
    flex-direction: column; // Cambia a columna para los items
    align-items: stretch; // Alinea los items al ancho completo
  
    mat-card {
      margin-bottom: 16px; // Espacio inferior para cada card
    }
  
    .horizontal-date-picker {
      display: flex; // Usa flexbox para disposición en fila
      justify-content: space-between; // Espaciado igual entre elementos
      align-items: center; // Alinea los elementos verticalmente al centro
      flex-wrap: wrap; // Permite que los elementos se ajusten si no caben
  
      ion-item {
        flex: 1; // Hace que cada ion-item ocupe el mismo espacio
        margin: 0 5px; // Espaciado entre items
        min-width: 80px; // Ancho mínimo para que no se colapse
        max-width: 100px; // Ancho máximo para mantener el diseño
      }
  
      ion-label {
        font-size: 14px; // Tamaño de fuente del label
      }
  
      .custom-select {
        font-size: 14px; // Tamaño de fuente del selector
        height: 40px; // Ajusta la altura según lo necesites
        --padding-top: 0; // Elimina padding superior
        --padding-bottom: 0; // Elimina padding inferior
      }
    }
  
    ion-item {
      margin: 10px 0; // Espaciado vertical entre items
    }
  
    ion-button {
      margin-top: 10px; // Espaciado superior para el botón
    }
  }
  
  h2 {
    margin-bottom: 1rem; // Espacio inferior del título
  }
  
  .mat-card {
    margin-bottom: 16px; // Espacio entre las cards
  }
  
  // Estilo específico para el botón de generación de PDF
  button.mat-raised-button[color="accent"] {
    margin-top: 20px; // Ajustar margen superior según sea necesario
  }
  
  // Ajustes para los selectores de fecha
  .horizontal-date-picker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px; // Espacio inferior entre los selectores y otros elementos
  }
  
  .filters-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  