<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!isPasswordRecovery">
    <form (submit)="handleLoginSubmit($event)">
      <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-input [(ngModel)]="username" name="username" placeholder="Ingresa tu RUT" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"></ion-label>
        <ion-input [(ngModel)]="password" name="password" type="password" placeholder="Ingresa tu contraseña" required>
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
      <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>

      <div *ngIf="rutNoRegistrado">
        <p>{{ rutNoRegistrado }} <em><a (click)="rutNotRegistrado()" style="font-weight: bold;">Registrate</a></em> para
          ingresar.</p>
      </div>
    </form>


    <div *ngIf="errorMessage" class="error-message" style="--background: transparent;">
      {{ errorMessage }}
    </div>
  </div>
  <div style="text-align: center;">
    <em><a (click)="togglePasswordRecovery()">¿Olvidaste tu contraseña?</a></em>
  </div>

  <form *ngIf="isPasswordRecovery" (submit)="handlePasswordRecovery($event)">
    <ion-input placeholder="RUT" [(ngModel)]="username" name="username"></ion-input>
    <ion-input placeholder="Correo Electrónico" [(ngModel)]="emailInput" name="email"></ion-input>
    <div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>
    <ion-button type="submit">Recuperar Contraseña</ion-button>
    <p *ngIf="msgContrasenaOlvidada">{{msgContrasenaOlvidada}}</p>
  </form>



</ion-content>