:root {
    --ion-color-primary: #4CAF50;
    /* Verde vibrante */
    --ion-color-secondary: #FF5722;
    /* Naranja vibrante */
    --ion-color-warning: #FFC107;
    /* Amarillo para alertas */
    --ion-color-danger: #f44336;
    /* Rojo para botones de peligro */
    --ion-color-light: #f1f1f1;
    /* Fondo claro */
    --ion-color-dark: #212121;
    /* Texto oscuro */
}

/* Estilo de los botones de acción rápida */
.colorVerdeMusgo {
    --background: #8A9A5B;
    /* Verde musgo */
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.logo {
    width: 120px;
    height: auto;
    border-radius: 10px;
}

/* Contenedor de los botones */
.button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
    justify-content: center;
}

/* Estilo de los cuadros de botones */
.button-square {
    width: 100%;
    aspect-ratio: 1;
    max-width: 300px;
    margin: auto;

    /* Mantiene la forma cuadrada */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra suave para profundidad */
    border-radius: 15px;
    /* Bordes más redondeados */
    /* Fondo claro para contraste */
    overflow: hidden;

}

ion-button {
    height: 100%;
    border-radius: 15px;
    font-size: 15px !important;
    font-weight: bold;
    --background: transparent;
    color: white;
    --background-activated: transparent;
    /* Mantener el fondo igual cuando está activado */
}


/* Colores personalizados para cada botón */
.colorVerdeMusgo {
    background: linear-gradient(135deg, #d8e3da, #208524, #d8e3da);
    /* Ajusta el ángulo y los colores según el efecto deseado */
    color: white;
    font-weight: bold;
    border: 1px solid #208524;
    /* Bordes metálicos opcionales */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.colorDanger {
    background: linear-gradient(135deg, #ffcccc, #ff0000, #ffcccc);
    /* Degradado que mezcla blanco y rojo */
    color: white;
    font-weight: bold;
    border: 1px solid #880606;
    /* Bordes metálicos opcionales */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.colorPrimary {
    background: linear-gradient(135deg, #f5f5f5, #b30000, #f5f5f5);
    /* Puedes ajustar el ángulo y los colores de la transición */
    color: white;
    font-weight: bold;
    border: 1px solid #b30000;
    /* Opcional: bordes metálicos */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.colorWarning {
    background: linear-gradient(135deg, #f5f5f5, #FFD700, #FFA500, #f5f5f5);
    /* Degradado dorado metálico */
    color: black;
    /* Color del texto para un buen contraste */
    font-weight: bold;
    border: 1px solid #FFB300;
    /* Borde de un tono metálico más oscuro */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    /* Sombra más marcada para un efecto de profundidad */

    background-blend-mode: multiply;
    /* Mezcla el color base con el reflejo */
}

/* Ajustes para mejorar la visibilidad */
ion-toolbar {
    --background: linear-gradient(135deg, #FF5722, #FFC107);
    /* Naranja a amarillo */
    color: white;
}

ion-content {
    --background: linear-gradient(135deg, rgba(204, 195, 195, 0.8), rgba(255, 255, 255, 0.9));
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}



/* Ajustes para pantallas pequeñas */
@media (max-width: 600px) {
    .button-square {
        flex: 1 1 100%;
        /* Los botones ocupan el 100% del ancho en pantallas pequeñas */
    }

    .logo {
        width: 80px;
        /* Tamaño más pequeño para pantallas móviles */
    }

    ion-button {
        flex: 1 1 100%;
        font-size: 0.75rem;
        /* Los botones ocupan el 100% del ancho en pantallas pequeñas */
    }
}

/* Ajustes para pantallas medianas */
@media (min-width: 600px) and (max-width: 1024px) {
    .button-square {
        flex: 1 1 48%;
        /* Los botones ocupan casi el 50% del ancho */
    }

    ion-button {
        border: none;
        font-size: 1.25rem;
        /* Los botones ocupan el 100% del ancho en pantallas pequeñas */
    }

    .header {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .notification-icon {

        font-size: 30px;
        margin: auto;
        width: 90px;
        /* Ajusta el valor según sea necesario */
    }

    .notification-badge {
        position: absolute;
        top: -10px;
        right: 10px;
        background-color: rgb(238, 48, 48);
        font-size: 1rem;
        /* Ajusta el tamaño de la fuente según sea necesario */
    }
}

.notification-icon {
    position: relative;
    display: inline-block;
    font-size: 15px;
    margin: auto;
    width: 60px;
    /* Ajusta el valor según sea necesario */
}

.notification-badge {
    position: absolute;
    top: -5px;
    right: -2px;
    background-color: rgb(238, 48, 48);
    /* Cambia el color según sea necesario */
    color: white;
    border-radius: 50%;
    width: 15px;
    /* Ajusta el tamaño según sea necesario */
    height: 15px;
    /* Ajusta el tamaño según sea necesario */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    /* Ajusta el tamaño de la fuente según sea necesario */
}

/* Evitar que la alerta se vuelva invisible */
.swal2-custom-popup {
    max-width: 90vw;
    /* Limita el ancho a un 90% del ancho de la pantalla */
    width: auto;
    /* Permite que el ancho se ajuste automáticamente */
    padding: 1rem;
    /* Ajusta el padding para que no sea demasiado grande */
    font-size: 1rem;
    /* Ajusta el tamaño de la fuente */
    background-color: white;
    /* Asegúrate de que el fondo sea blanco */
    color: black;
    /* Asegúrate de que el texto sea visible */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    /* Agrega sombra para distinguir el cuadro */
}

.mat-button {
    width: 100%;
    /* Ocupa todo el espacio del contenedor */
    height: 100%;
}