<ion-header>
    <ion-toolbar class="header">
      <ion-title>Emerplus</ion-title>
      <ion-buttons slot="end">
        <button mat-icon-button (click)="limpiarNotificaciones($event)">
          <mat-icon style="color: blue;">notifications</mat-icon>
          <span *ngIf="notificacion > 0" matBadge="{{ notificacion }}" class="custom-badge"></span>

        </button>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<!-- Contenedor principal -->
<ion-content class="mat-content ion-padding">
  <!-- Botones de acción rápida -->
  <div class="button-container">
    <div class="button-square colorVerdeMusgo">
      <ion-button mat-raised-button (click)="carabineros('Carabineros')">
        <mat-icon>call</mat-icon> Carabineros
      </ion-button>
    </div>

    <div class="button-square colorDanger">
      <ion-button mat-raised-button color="warn" (click)="bomberos('Bomberos')">
        <mat-icon>call</mat-icon> Bomberos
      </ion-button>
    </div>

    <div class="button-square colorPrimary">
      <ion-button mat-raised-button color="accent" (click)="ambulancia('Ambulancia')">
        <mat-icon>call</mat-icon> Ambulancia
      </ion-button>
    </div>

    <div class="button-square colorWarning">
      <ion-button mat-raised-button (click)="contactoEmergencia('Contacto Emergencia')">
        <mat-icon>alert</mat-icon> Contacto Emergencia
      </ion-button>
    </div>
  </div>
</ion-content>