<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Gestionar Solicitud</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="solicitud">
    <ion-card-header>
      <ion-card-title>Detalles de la Solicitud ID: {{ solicitud.id }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Tipo:</strong> {{ solicitud.tipo }}</p>
      <p><strong>Fecha:</strong> {{ solicitud.fecha | date: 'dd/MM/yyyy' }}</p>
      <p><strong>Ubicación:</strong> {{ solicitud.latitud }}, {{ solicitud.longitud }}</p>
      <p><strong>Estado:</strong> {{ solicitud.estadoDescripcion }}</p>
      <p><strong>Entidad:</strong> {{ solicitud.entidad }}</p>
    </ion-card-content>

    <!-- Botón para ver la solicitud en el mapa -->
    <ion-button expand="block" color="primary" (click)="verEnMapa(solicitud)">
      Ver en el mapa
    </ion-button>

    <!-- Botón de Asignar Solicitud solo si tipoUsuarioAdmin es true -->
    <ion-button *ngIf="tipoUsuarioAdmin" expand="block" color="primary" (click)="mostrarUsuarios()">
      Asignar Solicitud
    </ion-button>

    <!-- Botón de Ejecutar Solicitud solo si tipoUsuarioAdmin es false -->
    <ion-button *ngIf="!tipoUsuarioAdmin" expand="block" color="success" (click)="ejecutarSolicitud()">
      Ejecutar Solicitud
    </ion-button>

    <ion-button *ngIf="!tipoUsuarioAdmin" expand="block" color="tertiary" (click)="solicitudAtendida()">
      Marcar como Atendida
    </ion-button>
  </ion-card>


  <!-- Modal de usuarios -->
  <ion-modal [isOpen]="modalAbierto">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title *ngIf="solicitud?.entidad == 3">Compañias</ion-title>
          <ion-title *ngIf="solicitud?.entidad == 4">Comisarias</ion-title>
          <ion-title *ngIf="solicitud?.entidad == 5">Ambulancias</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cerrarModal()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item *ngFor="let usuario of usuarios" [class.selected]="usuario === usuarioSeleccionado"
            (click)="usuarioSeleccionado = usuario">
            {{ usuario.nombre }} {{ usuario.papellido }} {{ usuario.sapellido }}
          </ion-item>
        </ion-list>

        <!-- Botón para asignar la solicitud al usuario seleccionado -->
        <ion-button *ngIf="usuarioSeleccionado" expand="full" color="success" (click)="asignarSolicitud()">
          Asignar
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>