.map-container {
    width: 100%;          // Asegúrate de que el mapa ocupe todo el ancho
    height: 100vh;       // Asegúrate de que el mapa ocupe toda la altura de la ventana
    position: relative;   // Necesario si agregas elementos superpuestos más adelante
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  ion-content {
    --background: #f8f9fa; // Color de fondo del contenido de Ion
    padding: 0;            // Elimina el padding para usar todo el espacio disponible
    height: 100vh;        // Asegúrate de que el ion-content ocupe toda la altura de la ventana
  }
  